@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
body {
    font-family: 'Rajdhani', sans-serif;
}

.app-bar {
    padding: 5px 0 5px 25px;
}

.app-container {
    padding: 20px 0 0 0;
}

.error-text {
    color: #FD5F5F;
}

.contract-wrapper {
    margin-top: 10px;
}

.form {
    margin-top: 25px;
}

.buy {
    margin-top: 10px;
}